extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each message in messages  
       li= message.user + ': ' + message.text + ', added: ' + message.added 
  a(href='/new') Add new message