extends layout

block content
  h1= title

  form(action="/new", method="post")
    h2 add new message:
    div 
      div user:  
      input(type="text", name="user" value="" placeholder="enter user name" size="30")
    div
      div message: 
      textarea(name="text", cols="30", rows="10" value="" placeholder="enter message...") 
      div 
        button(type="submit") add